HUBSTAFF_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImRlZmF1bHQifQ.eyJqdGkiOiJVRkt3N1lCaCIsImlzcyI6Imh0dHBzOi8vYWNjb3VudC5odWJzdGFmZi5jb20iLCJleHAiOjE3ODc5MTE0NDMsImlhdCI6MTc4MDEzNTQ0Mywic2NvcGUiOiJodWJzdGFmZjpyZWFkIHRhc2tzOnJlYWQifQ.F-5Gu9jgTjhKlz6e014RupDlEMsRO8jwhDJ4nydAgpFJoI3_bKYTLybzG2QpQxampSMM83QzHPiPezXR-yRl-kNMzMlhnvj9gk9-ZIUfrGj8UWHz6hdZE0dPQIUBSycbswgny58m1H-bl8RG-kjzT5IRvtObpi-6Yhhe3U2mZLbeET9Shozc_mivpv1tJv6tCDbj_NR0xRbfBb1bItg3zkCI_MKTDFW7gseAPRGycBzbRFJKIl6czGPuyUDyUOhAKvR8C0oRaYEloSYiM4ssIpTlP1illCaztrHOfCZ4yBxZ13Xy-H4in2dJF1GgKfXQKs96OeHiFOTjKn8D-W9-XQ
CLICKUP_API_KEY=pk_6610992_HDV6IRKQCMLMIFBSW3R5M2FDD2QE8FLF
PORT=3001
